body {
    background: #0f0e17;
    color: #a7a9be;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-weight: bold;
    color:#e53170;
    text-decoration-color: #999999;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

i {
    color: #a8450c;
}

b {
    color: #e53170;
}

#menu-content {
    width: 100%;
}

.menu-ul {
    display: flex;
    justify-content: right;
    padding: 0;
}

.links {
    display: inline-block;
    padding: 5px 10px 6px 10px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #0a0a0f;
    color: #e53170;
    text-decoration: none;
    font-family: monospace;
    font-size: 1.1em;
    transition: .5s ease;
    font-weight: bold;
}

.links:hover {
    background: #e53170;
    color: #fffffe;
    font-weight: bold;
    transition: .5s ease;
}

#corpo-site {
    width: 70%;
    margin: 0 auto;
    display: block;
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    float: left;
    border: 5px solid #0a0a0f;

}

#corpo-post {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.post {
    padding: 15px;
    color: #0f0e17;
    background: #ebebeb;
    border-radius: 5px;
    line-height: 1.7em;
    box-shadow: 4px 4px 0px 1px rgba(0, 0, 0, 0.2)
}

.about {
    padding: 15px;
    background: #ebebeb;
    color: #0f0e17;
    border-radius: 5px;
    line-height: 1.7em;
    box-shadow: 4px 4px 0px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Hind', sans-serif;
    font-weight: 400;
}

.rodape {
    padding: 15px;
    line-height: 1.7em;
    box-shadow: 4px 4px 0px 1px rgba(0, 0, 0, 0.2)
}

.titulo-site {
    color: #e9e9e9;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 2.1em;
    text-align: right;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgba(255, 255, 255, 0.116);
}

.titulo-post {
    color: #0f0e17;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 10px 0 0 0;
}

.titulo-2nd {
    color: #fffff2;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    border-bottom: 1px solid rgba(241, 241, 241, 0.2);
    display: inline-block;
    margin: 10px 0 0 0;
}

.titulo-3rd {
    float: right;
    margin-right: 10px;
}

.cor {
    color: #ff8906;
    border-bottom: 1px solid rgba(241, 241, 241, 0.2);
}

#cabeca {
    margin: 0 auto;
    text-align: center;

}

#sidebar {
    width: 100%;
}

#rodape {
    background: #e53170;
    color: #fffffe;
    margin: 20px 0 20px 0;
    border-radius: 5px;

}

#final {
    margin: 20px auto 30px auto;
    text-align: right;
    font-family: monospace;
    text-transform: uppercase;
}

.versao {
    text-align: left;
}

div {
    clear: both;
}

.lista-ul {
    display: inline-table;
    flex-direction: row;
    width: 49.4%;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.lista-li {
    border: 1px solid #e53170;
    background: rgba(241, 241, 241, 0.1);
    padding: 5px 12px;
    border-radius: 5px;
}

.shh {
    color:#e53170;
    font-size: 12px;
}